.columns-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
    border: 2px solid white;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    background: whitesmoke;
    height: 500px;
    width: 100px;
    border: 2px solid black;
    margin-top: auto;
    margin-left: 5px;
}

h1 {
    text-align: center;
    display: inline-block;
    color: whitesmoke;
}

header {
    text-align: center;
}

body {
    background: black;
}

.pieces_red {
    border: 1px solid whitesmoke;
    background: red;
    border-radius: 50%;
    height: 83px;
    width: 100px;
    margin-top: auto;
}

.pieces_black {
    border: 1px solid whitesmoke;
    background: black;
    border-radius: 50%;
    height: 83px;
    width: 100px;
    margin-top: auto;
}